@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="/Content/Site/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/Site/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/Site/css/price-range.css" rel="stylesheet">
    <link href="/Content/Site/css/animate.css" rel="stylesheet">
    <link href="/Content/Site/css/main.css" rel="stylesheet">
    <link href="/Content/Site/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/Content/Site/js/html5shiv.js"></script>
    <script src="/Content/Site/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/Content/Site/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/Site/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/Site/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/Site/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/Site/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="/Content/Site/"><i class="fa fa-envelope"></i> info@servis.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        
    </header>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="signup-form">
                        <!--sign up form-->
                        @RenderBody()
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
    <footer id="footer">
        <!--Footer-->
        
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © @DateTime.Now.Year</p>
                    <p class="pull-right">Designed By <span><a target="_blank" href="#">Bekir UZUN</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->
    <script src="/Content/Site/js/jquery.js"></script>
    <script src="/Content/Site/js/price-range.js"></script>
    <script src="/Content/Site/js/jquery.scrollUp.min.js"></script>
    <script src="/Content/Site/js/bootstrap.min.js"></script>
    <script src="/Content/Site/js/jquery.prettyPhoto.js"></script>
    <script src="/Content/Site/js/main.js"></script>
</body>

</html>

